<head>
  <meta charset="UTF-8">
  <title>Hello Mustache</title>
</head>

<body>
  <div>
    <header>
      <h1>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
</body>

</html>